@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply font-[300] text-base text-[var(--text)] bg-[var(--bg)];
  }

  :root {
    --accent: #DDA15E;
    --text: #283618;
    --bg: #FFF;
    --neutral: #F3F4F6;

    --secondary: #606C38;
    --secondary-tint: #BCC892;
    --tertiary: #BC6C25;
  }
}
