@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply font-[300] md:text-base text-base text-[var(--text)] bg-[var(--bg)] ;
  }

  :root {
    --accent: #DDA15E;
    --text: #283618;
    --bg: #FFF;
    --neutral: #D1D5DC; 
    /* #F3F4F6 */

    --tinted-secondary: #b0b69c;
    --tinted-accent: #f5e3cf;

    --secondary: #606C38;
    --secondary-tint: #BCC892;
    --tertiary: #BC6C25;
  }
}
